In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns

In [31]:
df = pd.read_csv("C:/Users/User/OneDrive/Escritorio/Analisis de Ventas/datos/datos_ventas.csv")
df["Fecha"] = pd.to_datetime(df["Fecha"])
df["Mes"] = df["Fecha"].dt.month_name()

In [32]:
df.head()

,Fecha,Producto,Categoría,Precio,Cantidad,Ciudad,Método de pago,Mes
0,2024-06-02,Auriculares,Ropa,121.34,5,Puebla,Transferencia,June
1,2024-03-26,Camiseta,Accesorios,209.76,4,Ciudad de México,Efectivo,March
2,2024-03-11,Laptop,Ropa,61.25,1,Tijuana,Transferencia,March
3,2024-01-29,Zapatos,Ropa,158.91,5,Monterrey,Efectivo,January
4,2024-05-18,Camiseta,Electrónica,198.00,4,Tijuana,Efectivo,May

In [33]:
df.shape

(1000, 8)

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Fecha           1000 non-null   datetime64[ns]
 1   Producto        1000 non-null   object
 2   Categoría       1000 non-null   object
 3   Precio          1000 non-null   float64
 4   Cantidad        1000 non-null   int64
 5   Ciudad          1000 non-null   object
 6   Método de pago  1000 non-null   object
 7   Mes             1000 non-null   object
dtypes: datetime64[ns](1), float64(1), int64(1), object(5)
memory usage: 62.6+ KB

In [35]:
df.duplicated().sum()

np.int64(0)

In [36]:
df.isnull().sum()

Fecha             0
Producto          0
Categoría         0
Precio            0
Cantidad          0
Ciudad            0
Método de pago    0
Mes               0
dtype: int64

In [37]:
df.describe().round(2)

                               Fecha   Precio  Cantidad
count                           1000  1000.00   1000.00
mean   2024-07-08 00:27:21.600000256   253.96      3.00
min              2024-01-09 00:00:00    10.07      1.00
25%              2024-04-08 00:00:00   135.88      2.00
50%              2024-07-08 00:00:00   258.01      3.00
75%              2024-10-10 00:00:00   371.68      4.00
max              2025-01-08 00:00:00   498.96      5.00
std                              NaN   139.64      1.41

In [38]:
df.head(4)

,Fecha,Producto,Categoría,Precio,Cantidad,Ciudad,Método de pago,Mes
0,2024-06-02,Auriculares,Ropa,121.34,5,Puebla,Transferencia,June
1,2024-03-26,Camiseta,Accesorios,209.76,4,Ciudad de México,Efectivo,March
2,2024-03-11,Laptop,Ropa,61.25,1,Tijuana,Transferencia,March
3,2024-01-29,Zapatos,Ropa,158.91,5,Monterrey,Efectivo,January

### Exploratory Data Analysis