In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns

In [5]:
df = pd.read_csv("C:/Users/User/OneDrive/Escritorio/Analisis de Ventas/datos/datos_ventas.csv")
df.head()

,Fecha,Producto,Categoría,Precio,Cantidad,Ciudad,Método de pago
0,2024-06-02,Auriculares,Ropa,121.34,5,Puebla,Transferencia
1,2024-03-26,Camiseta,Accesorios,209.76,4,Ciudad de México,Efectivo
2,2024-03-11,Laptop,Ropa,61.25,1,Tijuana,Transferencia
3,2024-01-29,Zapatos,Ropa,158.91,5,Monterrey,Efectivo
4,2024-05-18,Camiseta,Electrónica,198.00,4,Tijuana,Efectivo

In [6]:
df.shape

(1000, 7)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Fecha           1000 non-null   object
 1   Producto        1000 non-null   object
 2   Categoría       1000 non-null   object
 3   Precio          1000 non-null   float64
 4   Cantidad        1000 non-null   int64
 5   Ciudad          1000 non-null   object
 6   Método de pago  1000 non-null   object
dtypes: float64(1), int64(1), object(5)
memory usage: 54.8+ KB

In [8]:
df.duplicated().sum()

np.int64(0)

In [9]:
df.isnull().sum()

Fecha             0
Producto          0
Categoría         0
Precio            0
Cantidad          0
Ciudad            0
Método de pago    0
dtype: int64